<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 0" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Domenica</td>
<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 1" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Lunedi</td>
<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 2" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Martedi</td>
<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 3" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Mercoledi</td>
<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 4" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Giovedi</td>
<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 5" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Venerdi</td>
<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 6" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Sabato</td>
<td class="giorno" ng-if="$parent.apertureURP[$index].giornosettimana == 7" ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">Domenica</td>

<td class="dalleMatt"ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">dalle {{ $parent.apertureURP[$index].oraapertura | lPad: { char: "0", num: 2 }  }}:{{ $parent.apertureURP[$index].minutoapertura | lPad: { char: "0", num: 2 }  }}</td>
<td class="alleMatt"ng-show="$parent.apertureURP[$index].giornosettimana != $parent.apertureURP[$index-1].giornosettimana">alle {{ $parent.apertureURP[$index].orachiusura | lPad: { char: "0", num: 2 }  }}:{{ $parent.apertureURP[$index].minutochiusura | lPad: { char: "0", num: 2 }  }}</td>

<td class="dallePom"ng-show="$parent.apertureURP[$index].giornosettimana == $parent.apertureURP[$index+1].giornosettimana">dalle {{ $parent.apertureURP[$index+1].oraapertura | lPad: { char: "0", num: 2 }  }}:{{ $parent.apertureURP[$index+1].minutoapertura | lPad: { char: "0", num: 2 }  }}</td>
<td class="allePom"ng-show="$parent.apertureURP[$index].giornosettimana == $parent.apertureURP[$index+1].giornosettimana">alle {{ $parent.apertureURP[$index+1].orachiusura | lPad: { char: "0", num: 2 }  }}:{{ $parent.apertureURP[$index+1].minutochiusura | lPad: { char: "0", num: 2 }  }}</td>
