<!--
    il ciclo è sugli elementi pari e gli elementi dispari vengono stampati con riferimento a $index+1
-->

    <td class="col_sx button" id="{{ $parent.servizialcittadino_attivi[$index].id }}"
        ng-click="getNewTicket($parent.servizialcittadino_attivi[$index].id)">

        <div ng-repeat="line in ($parent.servizialcittadino_attivi[$index].descrizione | br_split)">
            {{ line }}
        </div>
    </td>
    <td class="col_dx button" id="{{ $parent.servizialcittadino_attivi[$index].id }}"
        ng-show="$parent.servizialcittadino_attivi[$index+1].id != undefined"
        ng-click="getNewTicket($parent.servizialcittadino_attivi[$index+1].id)">

        <div ng-repeat="line in ($parent.servizialcittadino_attivi[$index+1].descrizione | br_split)">
            {{ line }}
        </div>
    </td>
