<!-- &nbsp; utilizzato per stampare uno spazio anche con riga vuota, per forzarne la corretta altezza -->
    <td ng-class-odd="'odd'" ng-class-even="'even'" class="ticket"    align="center">&nbsp; {{ ticket.servizioalcittadino.codiceservizio }} {{ ticket.numero | lPad: { char: "0", num: 4 } }} </td>
    <td ng-class-odd="'odd'" ng-class-even="'even'" class="sportello" align="center"> {{ ticket.sportello.id }} </td>
