/*
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('/static/font/Oswald-Light.woff') format('woff');
}
*/

/* gestione cursore per elementi con click */
*[ng-click] {
    cursor: pointer;
}
*[ng-click] > div {
    cursor: default;
}

.vbox,
.hbox {
    display: -ms-box;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.vbox {
    -ms-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
.hbox {
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}
.vBoxElementFlex,
.hBoxElementFlex {
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

div,
textarea,
input {
    font-family: /*Oswald*/ Verdana, Arial, sans-serif;
}

body {
    font-size: 62.5%;
    margin: 0;

    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: white;
    color: #656263;
}

textarea {
    height: 1.7em; /* 17px; */
}

/* per considerare margin e border dentro width */
div,
span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-width: 0;
}

div.img {
    padding: 20px;
}

iframe,
table {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border: 0;
}

img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;

    border: 0;
}
