/*
loading screen (lock screen when ajax is running)
*/
#loadingScreen {
    display: none;
}

/*
    Monitor
*/

.monitor {
}

.monitor .Q1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 66%;
    height: 80%;
}
.monitor .Q2 {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 80%;
    width: 66%;
}
.monitor .Q3 {
    position: absolute;
    right: 0;
    top: 0;
    left: 66%;
    bottom: 0;

    padding: 2px;
    background-color: #eeeeee;
}

.monitor .Q3 table {
    background-color: white;
}

.monitor .Q3 .img td {
    padding: 20px;
    /*height: 20%;*/
}

.monitor .Q3_2 th {
    font-size: 4em; /* 20px; */
}
.monitor .Q3_2 {
    height: 60%;
}

.monitor .Q3_2 table .calls {
    font-size: 5em; /* 25px; */
    color: #000000;
    font-weight: bold;
}

.monitor td.ticket,
.monitor td.sportello {
    width: 50%
}

.monitor th {
    background-color: #aaaaaa;
}
.monitor td.odd {
    background-color: #eeeeee;
}

/*
    Totem
*/

.totem .Q1 {
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 276px;

    padding: 20px 200px;

    background-color: blue;
}

.totem .Q2 {
    position: absolute;

    top: 276px;
    left: 0;
    bottom: 141px;
    width: 100%;

    padding: 20px 200px;

    background-color: red;
}

.totem .Q3 {
    position: absolute;
    padding: 30px;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 141px;

    background-color: green;
}

.totem .Q3 img {
    height: 80px;
    width: 250px;
}

.totem .Q3 img.comune{
    left: 0;
    top:  0;

}
.totem .Q3 img.pypapi {
    right: 0;
    top:   0;
}

.totem table.maintable {
    position: absolute;
}

.totem table .header {
    height: 300px;
}
.totem table .footer {
    height: 100px;
}

.totem table .header .comune {
    text-align: center;
    height: 200px;
}
.totem table .footer .comune {
    text-align: left;
    padding: 40px;
}
.totem table .footer .pypapi {
    text-align: right;
    padding: 40px;
}

.totem .header .comune img{
    width: 625px;
}
.totem .footer .comune img,
.totem .pypapi img {
    width: 250px;
    height: auto;
}

.totem .maintable .button {
    font-size: 3em; /* 30px; */
    text-align: center;
    background-color: #eeeeee;
    width: 50%;
}
.totem .maintable .button:active {
    background-color: #aaaaaa;
}

.totem table.orari td {
    font-size: 2em; /* 20px; */
    padding-left: 10px;
    padding-right: 10px;
}
.totem table.orari .giorno {
    text-align: right;
    width: 27%;
}
.totem table.orari .dalleMatt {
    text-align: right;
    width: 17%;
}
.totem table.orari .alleMatt {
    text-align: left;
    width: 15%;
}
.totem table.orari .dallePom {
    text-align: right;
    width: 15%;
}
.totem table.orari .allePom {
    text-align: left;
    width: 24%;
}
.totem table.orari .titolo,
.totem table.orari .note {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2.7em; /* 27px; */
}
.totem table.orari .note {
    background-color: #cccccc;
    color: white;
}
.totem table.orari tr {
    height: 0;
}

/*
 POPUP
*/

.popup,
.popup_attendere_biglietto,
.popup_prelevare_biglietto {
    display: none;
}
.popup_layer {
    position: fixed;
    opacity: 0.1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #aaaaaa;
    z-index: 9999;
}
.popup_message {
    position: fixed;

    top: 45%;
    left: 20%;
    right: 20%;

    padding: 5%;

    text-align: center;

    background-color: #555555;
    z-index: 10000;
    color: white;

    font-size: 3em; /* 30px; */
}

