<!--

-----------------------------------------
|                             |  Q3_1   |
|                             |         |
|                             |---------|
|            Q1               |         |
|                             |         |
|                             |  Q3_2   |
|                             |         |
|                             |         |
------------------------------|---------|
|                             |         |
|            Q2               |   Q3_3  |
-----------------------------------------

Q1: iFrame news statiche
Q2: iFrame news dinamiche
Q3: elenco chiamate
    Q3_1: header
    Q3_2: body
    Q3_3: footer

-->

<!DOCTYPE html>
<html ng-app='totemLuisa'>
<head>
    <script type="text/javascript" src="static/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="static/js/jsonpath-0.8.0.js"></script>
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="static/js/angular-animate.min.js"></script>

    <script type="text/javascript" src="static/js/utility.js"></script>
    <script type="text/javascript" src="static/js/controllers.js"></script>

    <link href="static/css/base.css" rel="stylesheet" type="text/css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">

    <title>Monitor</title>
</head>
<!-- blocco eventi ondragstart e onselectstart per evitare la selezione di testo sui div -->
<body ng-controller="monitorControllerMain"
      ondragstart='return false'
      onselectstart='return false'>

<div>

    <div class="monitor">
        <div>
            <div id="external_page" class="Q1">
                <!-- iframe aggiunto dinamicamente, vedi monitorControllerMain-->
                <!--iframe src="http://www.comune.mori.tn.it/Comune/Organizzazione-comunale/Orari/"></iframe-->
            </div>

            <div class="Q2">
                <iframe src="newsDinamic.html"></iframe>
            </div>

            <div class="Q3">
                <table>
                    <tr class="Q3_1 img">
                        <td><img ng-click='audio.play()' src="static/img/comuneMori4_tizi.png"></td>
                    </tr>

                    <tr class="Q3_2">
                        <td>
                            <!-- calls -->
                            <table>
                                <tr>
                                    <th style="width: 50%">Ticket</th>
                                    <th style="width: 50%">Sportello</th>
                                </tr>
                                <tr class="calls" ng-repeat="ticket in ticketAperti | min: {num: 7}" ng-include="'static/template/tickets.html'"></tr>
                            </table>
                        </td>
                    </tr>

                    <tr class="Q3_3 img">
                        <td><img src="static/img/comuneMori3_tizi.png"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

</body>
</html>