<!DOCTYPE html>
<html ng-app='totemLuisa'>
<head lang="en">
    <meta charset="UTF-8">


    <script type="text/javascript" src="static/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="static/js/jsonpath-0.8.0.js"></script>
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="static/js/angular-animate.min.js"></script>

    <script type="text/javascript" src="static/js/utility.js"></script>
    <script type="text/javascript" src="static/js/controllers.js"></script>

    <link href="static/css/base.css" rel="stylesheet" type="text/css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">

    <title>News</title>

    <style media="screen" type="text/css">

        body {
            padding-top: 2px;
            background-color: #eeeeee;
        }

        /*
         AngularJS: EFFECT SLIDE
        */
        .news_item-animate {
            position: absolute;
            left: 0;
            width: 100%;
        }

        .news_item-animate.ng-hide-add,
        .news_item-animate.ng-hide-remove {
            display: block !important;
            left: 0;
        }

        .news_item-animate.ng-hide-add {
            -webkit-animation:1s hide;
            animation:3s hide;
        }
        .news_item-animate.ng-hide-remove {
            -webkit-animation:1s show;
            animation:3s show;
        }

        @keyframes hide {
            from { left: 0; }
            to { left: -100%; }
        }
        @-webkit-keyframes hide {
            from { left: 0; }
            to { left: -100%; }
        }

        @keyframes show {
            from { left: 100%; }
            to { left: 0; }
        }
        @-webkit-keyframes show {
            from { left: 100%; }
            to { left: 0; }
        }

        /*
            Centratura con metodo table
        */
        .news_container {
            overflow: hidden;
            background-color: #eeeeee;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            padding-top: 2px;
            /*display: table;*/
        }

        .news {
            height: 100%;
            width: 100%;

            padding: 20px;
            font-size: 3.5em;
            margin: auto;

            /*background-color: white;*/

            text-align: center;
        }
    </style>
</head>
<body ng-controller="monitorControllerNews"
      ondragstart='return false'
      onselectstart='return false'>

<div>
    <div class="news_item-animate news_container" ng-repeat="news_item in news" ng-show="$index == currentIndex" ng-include="'static/template/news.html'"></div>
</div>

</body>
</html>