<!--

-------------------------------
|            Q1 (img)         |
|                             |
|            Q2 (button)      |
|                             |
|            Q3 (img)         |
-------------------------------

Q1: immagine di testata
Q2: bottoni per richiesta ticket
Q3: immagini di footer

-->

<!DOCTYPE html>
<html ng-app='totemLuisa'>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="static/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="static/js/jsonpath-0.8.0.js"></script>
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="static/js/angular-animate.min.js"></script>

    <script type="text/javascript" src="static/js/utility.js"></script>
   <!-- <script type="text/javascript" src="static/js/deployJava.js"></script>
    <script type="text/javascript" src="static/js/print.js"></script>-->

    <script type="text/javascript" src="static/js/controllers.js"></script>

    <link href="static/css/base.css" rel="stylesheet" type="text/css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">

    <title>Totem</title>
</head>
<!-- blocco eventi ondragstart e onselectstart per evitare la selezione di testo sui div -->
<body ng-controller="totemControllerMain"
      ondragstart='return false'
      onselectstart='return false'>

<div class="totem">

    <table class="maintable">
        <tr class="header">
            <td class="comune" colspan="2">
                <img src="static/img/comuneMori4_tizi.png">
            </td>
        </tr>

        <!-- ciclo solo sugli elementi "pari" (0,2,4,...) per gestire righe su due colonne. Gli elementi dispari sono gestiti nell'include -->
        <tr ng-show="checkTotemAttivo() == true" ng-if="$index % 2 == 0" ng-repeat="servizio in servizialcittadino_attivi" ng-include="'static/template/servizialcittadino.html'">
        </tr>

        <tr ng-show="checkTotemAttivo() == false">
            <td colspan="2">
                <table class="orari">
                    <tr>
                        <td ng-show="checkSportelliAttivo() == true"  class="note" colspan="5">Erogazione ticket sospesa per prossimità<br>all'orario di chiusura degli sportelli.</td>
                        <td ng-show="checkSportelliAttivo() == false" class="note" colspan="5">Gli sportelli sono chiusi.</td>
                    </tr>
                    <tr>
                        <td class="titolo" colspan="5">Orari Ufficio Relazioni con il Pubblico</td>
                    </tr>
                    <!-- ciclo sugli orari URP (visualizzati se il totem è chiuso) -->
                    <tr ng-repeat="orario in apertureURP" ng-include="'static/template/apertureURP.html'">
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="footer">
            <td class="comune">
                <img src="static/img/comuneMori3_tizi.png">
            </td>
            <td class="pypapi">
                <img src="static/img/pypapi_tizi.png">
            </td>
        </tr>
    </table>

</div>

<!--<applet id="qz" name="QZ Print Plugin" code="qz.PrintApplet.class" archive="./static/applet/qz-print.jar" width="100" height="100"></applet-->

<div class="popup popup_attendere_biglietto">
    <div class="popup_layer"></div>
    <div class="popup_message"> Attendere la stampa del biglietto...</div>
</div>

<div class="popup popup_prelevare_biglietto">
    <div class="popup_layer"></div>
    <div class="popup_message">Si prega di prelevare il biglietto.</div>
</div>

</body>
</html>

